<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
<body>
    {{ partial "presentation.html" . }}
    <h1>Membres du conseil municipal</h1>
    {{ range .Data.Pages }}
    {{ if eq .Type "conseil-municipal" }}
    {{ if (eq (.Params.role | lower) "maire") }}
    {{ partial "conseil-municipal.html" . }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ range .Data.Pages }}
    {{ if eq .Type "conseil-municipal" }}
    {{ if (ne (.Params.role | lower) "maire") }}
    {{ partial "conseil-municipal.html" . }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ partial "footer.html" . }}
</body>
</html>