 <br/>
 <div class="footer">
    <div class="parent">
        <br/>
        <block class="tel">
            <a href="tel: 0033404040404"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Telephone_receiver.svg/216px-Telephone_receiver.svg.png" height="auto" width="25px"><h3>04 05 06 07 08</h3></a>
        </block>
        <block class="formulaire">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMynFITuMIvgoh-kssidII5z2zSBIEnqqujeLhY7BI2iIlVA/viewform?embedded=true" width="49%" height="450" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
        </block>
        <block class="carte">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41995.98505179696!2d2.3282898290803895!3d48.86299526297782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671fdb38f5b8b%3A0xc0345272f10c1f6e!2sH%C3%B4tel%20de%20Ville!5e0!3m2!1sfr!2sfr!4v1569227965942!5m2!1sfr!2sfr" width="49%" height="450px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </block>
    </div>  
    <br/>
    <div class="devise">
        <a href="https://fr.wikipedia.org/wiki/Fluctuat_nec_mergitur"><h3>Fluctuat nec mergitur</h3></a>
        <br/>
    </div>
</div>
