<!DOCTYPE html>
<html lang="en">
<div class="upper-nav">
  <br/>
  <a href="/"><img class="pascentre" src="https://upload.wikimedia.org/wikipedia/fr/thumb/f/fd/Ville_de_Paris_logo_2019.svg/1166px-Ville_de_Paris_logo_2019.svg.png" width="150px" height="auto"></a>
  <br/>
</div>
<div class="navbar">
  <a href="/">Accueil</a>
  <a href="/conseil-municipal">Conseil Municipal</a>
  <a href="/associations">Associations</a>
  <a href="/calendar">Calendrier</a>
  <div class="dropdown">
    <button class="dropbtn">Evenements
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/events">Tous les evenements</a>
      <a href="/upcoming-events">Evenements a venir</a>
      <a href="/archived-events">Evenements passes</a>
    </div>
  </div>
</div>
</html>