<!DOCTYPE html>
<html>
<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img class="pascentre" src="https://cdn4.iconfinder.com/data/icons/user-interface-33/80/Menu-512.png" width="25px" height="auto" alt="open"></a>
        <form class="search-bar">
                <input id="search-input" type="text" placeholder="Search..." name="search">
        </form>        
        {{ range (where .Site.RegularPages "Section" "eq" "associations").ByParam "title" }}
        {{ if .Params.important }}
        <mark>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
        </mark>
        {{ end }}
        {{ end }}
</div>
<div class="boutonSide">
        <span onclick="openNav()"><img class="pascentre" src="https://cdn4.iconfinder.com/data/icons/user-interface-33/80/Menu-512.png" width="50px" height="auto" alt="open"></span>
</div>
</html>