<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
<body>
    <block class="calendrier">
        <iframe src="https://calendar.google.com/calendar/embed?src=2pd6j7802jalj9ova5t47d5k4k%40group.calendar.google.com&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </block>
    <div class="bouton-cal">
        <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MWFwMWRscmZ0Y2UybG1qYmI2dGhkMnEwbXAgMnBkNmo3ODAyamFsajlvdmE1dDQ3ZDVrNGtAZw&amp;tmsrc=2pd6j7802jalj9ova5t47d5k4k%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_fr.gif"></a>
    </div>
</body>
{{ partial "footer.html" . }}
</html>